html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
@font-face {
    font-family: 'Inner';
    src: url('./font/LTBulletin-Medium.ttf')
}
html{
    background-color: skyblue;
    height: 1280px;
}
body{
    margin: auto;
    width: 1150px;
    background-color: white;
    height: 1230px;
    margin-top: 25px;
}
header{
    text-align: center;
    font-size: 5.75em;
    font-weight: 600;
    color: skyblue;
    margin-top: 10px;
}
#mission{
    width: 500px;
    height: 250px;
    background-color: lightgray;
    margin-left: 50px;
    margin-top: 10px;
}
#mission h1{
    text-align: center;
    color: white;
    font-size: 2.5em;
    background-color: gray;
    width: 450px;
    margin: auto;
    margin-bottom: 22px;
}
#mission h2{
    text-align: center;
    font-size: 21px;
    font-weight: 350;
    color: white;
    width: 450px;
    margin: auto;
}
#insp{
    height: 300px;
    width: 1050px;
    background-color: lightgray;
    margin: auto;
    margin-top: 40px;
}
#insp h1{
    text-align: center;
    color: whitesmoke;
    font-size: 2.5em;
    margin-bottom: -5px;
    width: 1000px;
    margin: auto;
    background-color: gray;
}
#insp h2{
    text-align: center;
    width: 450px; 
    font-size: 1.25em;               
    font-weight: 400;
    margin-top: 1%;
    margin-left: 50px;
    color: white;
}
#insp img{
    margin-left: 575px;
    margin-top: -300px;
    width: 425px;
}
#goals{
    width: 500px;
    height: 250px;
    background-color: lightgray;
    margin-left: 600px;
    margin-top: -250px;
}
#goals h1{
    color: white;
    font-size: 2.5em;
    background-color: gray;
    width: 450px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
#goals h2{
    text-align: center;
    width: 450px;
    font-size: 21px;
    font-weight: 400;
    margin: auto;
    color: white;
}
#target{
    width: 500px;
    height: 250px;
    background-color: lightgray;
    margin-left: 50px;
    margin-top: 40px;
}
#target h1{
    text-align: center;
    margin: auto;
    font-size: 2.5em;
    color: white;
    width: 450px;
    background-color: gray;
    margin-bottom:7px;
}
#target h2{
    width: 450px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    color: white;
}
#pg_cont{
    width: 1050px;
    height: 170px;
    background-color: lightgray;
    margin: auto;
    margin-top: 40px;
}
#pg_cont h1{
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin-bottom: 22px;
    width: 1000px;
    background-color: gray;
    margin: auto;
}
#pg_cont h2{
    text-align: center;
    width: 1000px; 
    font-size: 1.25em;               
    font-weight: 400;
    width: 1000px;
    margin: auto;
    color: white;
}
#games{
    background-color: lightgray;
    width: 500px;
    height: 250px;
    margin-left: 600px;
    margin-top: -250px;
}
#games h1{
    width: 450px;
    font-size: 18px;
    margin: auto;
    text-align: center;
    color: white;
}
#games button{
    width: 450px;
    height: 200px;
    background-color: gray;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 2.5em;
    color: white;
}
.spc{
    height: 10px;
    width: 10px;
}